<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas Pendientess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>
<style>
  h1 {
    text-align: center;
  }

  .seccion1 {
    display: flex;
    justify-content: center;
  }

  z .tareas {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
  }

  .campos {
    display: grid;
    grid-template-rows: repeat(3, auto);
  }

  .entrada {
    width: 600pt;
  }

  .boton {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .agregar {
    display: flex;
    padding: 20px;
    width: 200pt;
    height: 0px;
    align-items: center;
    justify-content: center;

  }
</style>

<body>
    <main>
        <!-- Encabezado para la Página Web -->
        <header>
            <!-- Nombre de nuestra Página web -->
            <h1 class="p-3 mb-2 bg-dark text-white">Lista de tareas pendientes</h1>
        </header>

        <article class="seccion1">
            <!-- Formulario -->
            <form class="formulario" action="/enviar" method="post">
                <div class="tareas p-3 mb-2 bg-warning text-dark">
                    <div class="campos">
                        <!-- etiqueta de formulario -->
                        <label for="tarea">Descripción</label>
                        <!-- Input donde ingresaremos datos -->
                        <input class="entrada" id="tarea" name="tarea" type="text">

                        <!-- etiqueta de formulario -->
                        <label for="correo">Correo Electrónico</label>
                        <!-- Input donde ingresaremos datos -->
                        <input class="entrada" id="correo" name="correo" type="text">

                        <!-- etiqueta de formulario -->
                        <label for="prioridad">Nivel de Prioridad</label>
                        <!-- Campo que nos permitirá escoger un dato específicos -->
                        <select class="entrada" id="prioridad" name="prioridad">
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                        </select>

                        <br>

                        <!-- Botón para agregar la tarea pendiente -->
                        <div class="d-grid gap-2 col-6 mx-auto ">
                            <button class="btn btn-primary p-3 mb-2 bg-white text-dark" type="submit">Agregar tarea
                                Pendiente</button>
                        </div>

                    </div>
                </div>
            </form>

        </article>

        <article>

            <!-- Tabla donde se imprimiran las tareas pendientes -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tarea</th>
                        <th scope="col">Dirección de Correo Electrónico</th>
                        <th scope="col">Prioridad</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                    {% for tarea in tareasLista %}
                    <tr>
                        <td>{{tarea.tarea}}</td>
                        <td>{{tarea.correo}}</td>
                        <td>{{tarea.prioridad}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <!-- Formulario que llamara a la ruta '\borrar' -->
        <form action="/borrar" method="post" class="card">
            <div class="d-grid gap-2 col-6 mx-auto ">
                <!-- Botón que borrará todas las tareas pendientes de nuestra tabla -->
                <button class="btn btn-primary p-3 mb-2 bg-warning text-dark" type="submit">Borrar Tareas</button>
            </div>
        </form>
    </main>
</body>

</html>